*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
jquery-*
tomcat-*
*.log
*/log/
*/bin/
.DS_Store
*/build/
*/target-eclipse/
*/work/
*/.settings/
*/inputFiles/
*/cobertura.ser
*/.project
*.war*
.metadata/
.project
*/web-app/plugins/
*/web-app/WEB-INF/classes/
*/.classpath
*/target/
*.xdsl
/target-eclipse/
.classpath
.project
/resources/htmls/*
/resources/htmls
